.page-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slide-panel {
    box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    width: 70em;
    height: 25em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: opacity .5s ease 0s;
}

.slide-panel:hover {
    opacity: 0.7;
}

.prev, .next {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
}

.prev:hover, .next:hover {
    transform: scale(1.25);
}

.prev {
    background-image: url(../assets/img/left-chevron.png);
}

.next {
    background-image: url(../assets/img/right-chevron.png);
}

img {
    scroll-snap-align: start;
    min-width: 100%;
    border-radius: 0.2em;
}

::-webkit-scrollbar {
    display: none;
}